.productListContainer {
    margin-top: 40px;
}

.deleteModalFooterWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;

    .footerButton {
        font-weight: 500;
    }
}

.tableProductImage {
    width: 45px;
    height: 45px;
}

.in-stock {
    color: #52c41a;
    font-weight: 500;
}

.out-of-stock {
    color: #ff4d4f;
    font-weight: 500;
}