.addProductFormContainer {
    padding: 40px 0px 20px 0px;

    .formSection {
        margin-bottom: 25px;

        .formFieldTitle {
            font-weight: 500;
            font-size: 12px;
        }

        .errorMessage {
            font-size: 11px;
            font-weight: 500;
            color: red;
        }
    }

    .formFooter {
        display: flex;
        justify-content: flex-end;

        .cancelBtn {
            margin-right: 12px;
        }
    }

}